<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card kl-card kl-xl kl-shine kl-show">

                <div class="kl-card-block back kl-xl bg-primary kl-shadow-b kl-overlay kl-slide-in kl-show">
                    <!--
                    <div class="kl-background">
                        <img src="http://www.lorempixel.com/150/150/nature">
                    </div>
                    -->
                    <div class="kl-card-overlay kl-card-overlay-split-q kl-dark kl-inverse">
                        <div class="kl-card-overlay-item">

                        </div>
                        <div class="kl-card-overlay-item"></div>
                        <div class="kl-card-overlay-item">
                            <div class="kl-figure-block">
                                <span class="kl-figure kl-txt-shadow">6</span>
                                <span class="kl-title">Floors</span>
                            </div>
                        </div>
                        <div class="kl-card-overlay-item">
                            <div class="kl-figure-block">
                                <span class="kl-figure">1045</span>
                                <span class="kl-title">Seats</span>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="card-block">
                    <h4 class="card-title">Greater Noida</h4>
                    <p class="card-text"><strong>Tower A</strong></p>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card kl-card kl-xl kl-shine kl-show">

                <div class="kl-card-block back-1 kl-xl kl-shadow-b kl-overlay kl-slide-in kl-show">
                    <!--
                    <div class="kl-background">
                        <img src="http://www.lorempixel.com/150/150/nature">
                    </div>
                    -->
                    <div class="kl-card-overlay kl-card-overlay-split-q kl-dark kl-inverse">
                        <div class="kl-card-overlay-item">

                        </div>
                        <div class="kl-card-overlay-item"></div>
                        <div class="kl-card-overlay-item">
                            <div class="kl-figure-block">
                                <span class="kl-figure kl-txt-shadow">2</span>
                                <span class="kl-title">Floors</span>
                            </div>
                        </div>
                        <div class="kl-card-overlay-item">
                            <div class="kl-figure-block">
                                <span class="kl-figure">453</span>
                                <span class="kl-title">Seats</span>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="card-block">
                    <h4 class="card-title">Gurugram</h4>
                    <p class="card-text"><strong>Tower 1</strong></p>


                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card kl-card kl-xl kl-shine kl-show">

                <div class="kl-card-block kl-xl back-2  kl-shadow-b kl-overlay kl-slide-in kl-show">
                    <!--
                    <div class="kl-background">
                        <img src="http://www.lorempixel.com/150/150/nature">
                    </div>
                    -->
                    <div class="kl-card-overlay kl-card-overlay-split-q kl-dark kl-inverse">
                        <div class="kl-card-overlay-item">

                        </div>
                        <div class="kl-card-overlay-item"></div>
                        <div class="kl-card-overlay-item">
                            <div class="kl-figure-block">
                                <span class="kl-figure kl-txt-shadow">2</span>
                                <span class="kl-title">Floors</span>
                            </div>
                        </div>
                        <div class="kl-card-overlay-item">
                            <div class="kl-figure-block">
                                <span class="kl-figure">320</span>
                                <span class="kl-title">Seats</span>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="card-block">
                    <h4 class="card-title">Noida sec-126</h4>
                    <p class="card-text"><strong>Tapasaya</strong></p>


                </div>
            </div>
        </div>
    </div>
</div>