/* You can add global styles to this file, and also import other style files */
body{
	background-attachment: fixed;
	 background:white;
	 background-size: cover;

	 font-family:sans-serif !important;
}