

.card {
    background:#FFF;
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border:1px solid #AAA;
    border-bottom:3px solid #BBB;
    padding:0px;
    margin-top:5em;
    overflow:hidden;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Roboto', sans-serif;
    -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-body{
 margin:1em;   
}


.card-header-blue{

    background-color:#1A1D1F;
    color:#FFFFFF;
    border-bottom:3px solid #BBB;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Roboto', sans-serif;
    padding:0px;
    margin-top:0px;
    overflow:hidden;
    -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-heading {
    display: block;
    font-size: 24px;
    line-height: 28px;
    margin-top: 15px;
    margin-bottom: 24px;
    margin-left:1em;
    border-bottom: 1px #2196F3;
    color:#fff;
    text-align: center;
   
}

.card-footer{
 border-top:1px solid #000;   
    
}
.totalSeats{
    margin-right: 14px;
}
.btn-danger{
    margin-top: 10px;
}
.dro
{
text-align:center;
}
ul
{
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
    
}
.firstCard{
    margin-left: 18px;
}
#abvSeatsLabel
{
    margin-right: 17px;
}
.form-rounded{
    border-radius: 1rem;
    width:40px;
}



  #head {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    text-align: center;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
 
  a {
    cursor: pointer;
    cursor: hand;
  }
   button {
    font-family: Arial;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:disabled {
    cursor: auto;
  }
  
  /* Navigation link styles */
   nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }
 
  .input{
    border-radius: 5px;
  }
  .modal  {
    /*   display: block;*/
    padding-right: 0px;
    background-color: rgba(4, 4, 4, 0.8);
    }
   
    .modal-dialog {
            top: 20%;
                width: 100%;
   
        }
        .modal-content {
                border-radius: 0px;
                border: none;
   
            }
            .modal-body {
                    background-color: #0f8845 ;
                    text-align: center;
                  
    color: white;
                }